@import '../../styles/general';


.greet{
    @include rounded-border;
    margin-top: 30px;
    &_header{
        margin: 15px 0 ;
    }
    
    &_text{
        line-height: 23px;
    }

    &_link{
        color: $primary;
    }
}
