@import '../../styles/general';

.table{
    @include rounded-border;
    padding: 0;

    &_empty {
        margin: 20px;
    }
}

@media (max-width: 1015px) {
    .table{
        overflow: auto;
    }
}